table {
	border-collapse:collapse;
}

td {
	background-color: blue;
	border: 3px solid white;
	font-size:80px;
	color:#ffffff;
	border-radius: 10px 10px 10px 10px;
}
body {
	background-image:url(img/nature-3616194_1280.jpg);
}